<h2>Order album <%-album.name %></h2>
<h3>Delivery information</h3>

<form id="order-form" class="form col-md-6 order-form" role="form" action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
    <input type="hidden" name="pid" value="<%-order.paymentId%>"/>
    <input type="hidden" name="sid" value="WSDGroup30"/>
    <input id="success_url" type="hidden" name="success_url"
           value=""/>
    <input id="cancel_url" type="hidden" name="cancel_url"
           value=""/>
    <input id="error_url" type="hidden" name="error_url"
           value=""/>
    <input type="hidden" name="checksum"
           value="<%-order.checksum%>"/>

    <div class="form-group">
        <label for="amount2">Amount</label>
        <input type="hidden" id="amount" name="amount" value="15"/>
        <input class="form-control" type="text" disabled="disabled" id="amount2" name="amount2" value="15 euros"/>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control"  type="text" id="address" name="address" value=""/>
    </div>
    <div class="form-group">
        <label for="postalCode">Postal Code</label>
        <input class="form-control"  type="text" id="postalCode" name="postalCode" value=""/>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input class="form-control"  type="text" id="city" name="city" value=""/>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input class="form-control"  type="text" id="phone" name="phone" value=""/>
    </div>
    <div class="form-group">
        <label for="email">Contact email</label>
        <input class="form-control"  type="text" id="email" name="email" value=""/>
    </div>
    <div class="form-group">
        <input class="btn btn-default" id="save" type="submit" value="Accept Payment"/>
        <input class="btn btn-default" id="cancel" type="submit" value="Cancel"/>
    </div>
</form>